nav{
    background-color: salmon;
    height: 8em;
    margin: 2em
}
.title{
    margin-top: 1.45rem !important;
}
.ghost-button {
display: inline-block;
background-color: Transparent;
background-repeat:no-repeat;
text-align: center;
text-decoration: none;
border: none;
cursor: pointer;
overflow: hidden;
outline: none;
width: 200px;
padding: 8px;
font-size: 1.5em;
}