<header>
  <h1 id="logo">DailyDeeds</h1>
  <nav>
    <ul>
      <!-- Routes for page navigation inside of a tags -->
      <a class="likeabutton" routerLink="/home" routerLinkActive="active"> Home </a>
      <a class="likeabutton" routerLink="/portfolio" routerLinkActive="active"> Portfolio </a>
      <a class="likeabutton" routerLink="/about" routerLinkActive="active"> About </a>
      <a class="likeabutton" routerLink="/contact" routerLinkActive="active"> Contact </a>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>