<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div>
        <h1 class="title">David Arias</h1>
        <h3 class="subtitle is-5">Web Developer</h3>
      </div>
    </div>
    <div class="navbar-burger" aria-label="menu" aria-expanded="true">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <button class="ghost-button" routerLink="/home" routerLinkActive="active"> Home </button>
      </div>
      <div class="navbar-item">
        <button class="ghost-button" routerLink="/portfolio" routerLinkActive="active"> Portfolio </button>
      </div>
      <div class="navbar-item">
        <button class="ghost-button" routerLink="/about" routerLinkActive="active"> About </button>
      </div>
      <div class="navbar-item">
        <button class="ghost-button" routerLink="/contact" routerLinkActive="active"> Contact </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>